.firstChild{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 30%;
    margin-top: 1%;
    border-radius: 2%;
}
.secondChild{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 2%;
}

@media screen and (max-width:1040px) and (min-width:250px) {
    .mainFlex{
        display: flex;
        flex-direction: column;
        row-gap: 2%;
    }
    .firstChild{
        width: 80%;
        padding: 2%;
        margin-bottom: 5%;
        margin-top: 10%;
    }
}