.navbar{
    margin: 0%;
    box-sizing: border-box;
    z-index: 10;
    padding: 0.5rem;
    box-shadow: rgba(248, 246, 246, 0.45) 0px 25px 20px -20px;
    background-color: #063970;
    color: white;
}