.signup{
   
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 40%;
    margin: auto;
    margin-top: 2%;
    border-radius: 2rem;
    background-color: black;
    color: white;
}
@media screen and (max-width:750px) and (min-width:250px) {
    .signup{
        width: 90vw;
    }
}
